<mat-card class="centered-card-flex">
  <mat-card-content>
    <div class="angular-logo-container">
      <img src="assets/angular_gradient.png" alt="Angular Logo">
    </div>
    <div class="centered-content-flex">
      Angular GPT knows Angular 17 inside and out! Ask away about the latest features that sparked the Angular Renaissance. From the power of signal-based reactivity for a lightning-fast app to the independence of standalone components, get the scoop on everything that makes Angular 17 so exciting.  Let's build something amazing together!
    </div>
    <div class="button-container">
      <button mat-raised-button class="buttons-predefined-questions">Primary m3</button>
      <button mat-raised-button color="accent">Back Compat</button>
    </div>
  </mat-card-content>
</mat-card>